

h4{
	color: white;
}

.panel{
	background: #4682B4; 
	border-color: #4682B4; 
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar{
	margin-bottom:0px;
	border-radius: 0px;
	height: 14px;
	background:000;
	border-color: #f5f5f5;
	color: #fff;

}

.container-fluid{
	color: #000;
}
.dropdown{
	color: #fff;
}

#nv{
	border-color: #ccc;

}

.button1{
	width: 15%;
	background-color: #5fba7d;
}

.button1:hover{
	background-color: #5fba7d;
}

.navbar-btn{
	padding: 5px;
	margin-left: 4px;
}

body{
	overflow-x: hidden;
}

.sidenav {
    height: 500px;	 
   
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    float: left;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.input-group{
	margin-top: 10px;
	
}

#servicos, #grupos, #notasusuario{
	display:none;
}

.button-menu{
	cursor: pointer;
}